body
{
    background-color: #000;
}

.input
{
    border: 2px solid #09F;
    height: 30px;
    background-color: #000;
    color: #FFF;
    font-family: '微软雅黑';
    font-size: 14px;
    width: 328px;
}

.btnPlay
{
    border: 2px solid #09F;
    height: 36px;
    background-color: #000;
    color: #FFF;
    font-family: '微软雅黑';
    font-size: 14px;
}

#playPage
{
    margin: 0px 0px;
    width: 500px;
    height: 450px;
}

#under
{
    margin: 15px auto;
    width: 500px;
}

#divBg li a, a:visited
{
    text-decoration: none;
    color: #FFF;
}

    #divBg li a:hover
    {
        color: #FF6A00;
    }

.clear
{
    border: 2px solid #FFF;
    padding: 4px 4px 4px 4px;
    margin: 8px 5px;
    float: left;
}